body {font-family: Verdana, sans-serif; margin: 0; background-color: #f5f5f5;}
  
  .containerr {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color:#ffffff;
    border-radius: 5px;
  }
  
  .containerr h1 {
    text-align: center;
    color: #000000;
  }
  
  .con{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  .con img{
    width: 150px;
    height: 150px;
    object-fit: cover;
  }

  .con td {
    padding: 10px;
    color: #000000;
    border: 1px solid #ffffff;
    background-color: #ffc21c;
  }
  
  .con th {
    padding: 10px;
    color: #f5f5f5;
    border: 1px solid #ffffff;
    background-color: #006f71;;
  }